body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 2vh 2vw;
}

.content {
  padding: 2vh 4vw;
  cursor: default;
}

a {
  text-decoration: none;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  color: rgba(#456, 0.7);

  &:focus,
  &:hover {
    color: rgba(#654, 0.6);
    border-bottom: #333 solid 0.25vh;
  }
  
  nav & {
    font-size: larger;
  }
  nav &:hover {
    border-bottom: #333 solid 0.5vh;
  }
}

h1 { border-bottom: #333 solid 0.5vh; }
