<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <link rel="stylesheet" href="stylesheets/site.css">
  </head>
  <body>
    <nav>
      <% link_to './' do %>Home<% end %>
      <% link_to './Posts.html' do %>Posts<% end %>
      <% link_to './Sets.html' do %>Sets<% end %>
      <% link_to './Tags.html' do %>Tags<% end %>
      <% link_to './Pools.html' do %>Pools<% end %>
      <% link_to './Posting.html' do %>POSTing to e621 API<% end %>
    </nav>
    <div class="content"> <%= yield %> </content>
  </body>
</html>
