---
title: Welcome to Middleman
---

<h1>
  Middleman is Running
</h1>

<% link_to '/Posts.html' do %>Posts<% end %>
<% link_to '/Sets.html' do %>Sets<% end %>
<% link_to '/Tags.html' do %>Tags<% end %>
<% link_to '/Pools.html' do %>Pools<% end %>
<% link_to '/Posting.html' do %>POSTing to e621 API<% end %>

